{# On hérite de base.html.twig: on récupere la meme structure
HTML et on remplacer certains blocs #}
{% extends "base.html.twig" %}

{# on ecrase le bloc 'title' #}

{% block title %}
    Share it !
{% endblock %}

{% block body %}
<h1>Share it!</h1>   
  {# <a href='{{ link('test') }}'>Test</a> #}

  <form action="{{ link('homepage') }}" method="post" enctype="multipart/form-data">                
        <div class="form-group">
              {# <label for="file">Fichier</label> #}
              <input type="file" class="form-group" id="file" name="file">
        </div>
             <input type="submit" value="Valider" class="btn btn-primary">
</form> 
{% endblock %}