{# On hérite de base.html.twig: on récupere la meme structure
HTML et on remplacer certains blocs #}
{% extends "base.html.twig" %}

{# on ecrase le bloc 'title' #}

{% block title %}
    Share it !
{% endblock %}

{% block body %}
 <h1>Share It!</h1> 

     <form action="{{ link('homepage') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="file">
                <label class="custom-file-label" for="customFile">Votre fichier</label>
            </div>
        </div>

        <button type="submit" class="btn btn-success">
            Envoyer
        </button>
    </form>
{% endblock %}